:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;

}

@media (min-width: 375px)and (max-width: 1127px) {
    .n_hero_img_01{
      width: 298px;
       
        margin: 0 auto;
        margin-top: 120px;
    }

    .n_hero_img_01 img{
        margin: 0 auto;
    }
    .n_hero_img_wrap_flex{
        display: flex;
        width: 300px;
        justify-content: space-evenly;
        margin: 0 auto;
        margin-top: 30px;
    }

 /* 手機版分類第一層 */
    .n_category01{
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        line-height: 40px;
        width: 100%;
        height: 40px;
        background: #FBF9F5;
        font-size: 14px;
    }


    .n_category01-1{
        color: var(--mainblue);
    }

    .n_category01-2,.n_category01-3{
        color: var(--maingray);
    }
/* 手機版分類第一層 */




/* 手機版分類第二層 */
    .n_category02{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        font-size: 14px;
    }
    .n_category02-1{
    border-bottom: 3px solid var(--mainyellow);
    }
    .n_category02_blueline{
        width: 300px;
        height: 1px;
        background-color: var(--mainblue);
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 80px;
    }



    /* 價格篩選 */
    .n_select_wrap_flex{
        display: flex;
        justify-content: space-evenly;
    }
    .n_select_price,.n_select_order{
        width: 130px;
        height: 30px;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        line-height: 30px;
    }
    .n_select_plus{
        margin-bottom: 2px;
        margin-left: 5px;
    }
    .n_icon-keyboard_arrow_down{
        fill: var(--maindarkgray);
        width: 18px;
        height: 18px;
    }


    /* 商品區 */
    
    .n_product_bg{
        width: 140px;
        height: 140px;
        border-radius: 10px;
        background: #fff;
    }
    .n_icon-heart{
        width: 20px;
        height: 20px;
        float: right;
        margin: 10px;
        fill: var(--maingray);
    }
    .n_product_title{
        width: 140px;
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
    }
   
    .n_product_price{
        width: 140px;
        text-align: center;
    }
    .n_product_wrapAll{
        width: 140px;
        margin-top: 30px;
    }
    
}