:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;

}

@media only screen and (min-width: 1128px) {

    .n_content_title {
        font-size: 22px;

        color: #89A7C2;
        margin-top: 60px;
        letter-spacing: 1.5px;
    }

    .n_content_inner {
        margin-top: 20px;
        width: 900px;
        font-size: 18px;
        color: #707070;
        letter-spacing: 1.5px;
        line-height: 1.5;
    }
}