:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;

}

@media (min-width: 375px)and (max-width: 1127px) {




    .n_list {
        display: none;
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;

    }

    #Path_12639 {
        stroke: #CCCCCC;
    }

    #Ellipse_32 {
        fill: var(--maingray) !important;

    }



    #n_selectTime {

        fill: none;
    }
    #n_selectpeople{
        fill: var(--maindarkgray);
    }

    #_2 {
        font-weight: 400;

    }

    .n_select {
        display: none;
        color: var(--mainblue);
        font-size: 18px;
        letter-spacing: 6px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .n_list1 {
        margin-top: 60px;
        margin-left: 7px;
    }

    #Ellipse_32 {
        fill: var(--mainyellow);
    }

    #n_selectSite {
        fill: none !important;
    }

    .n_walking_site_wrapAll {
        width: fit-content;
        margin: 0 auto;
        margin-top: 20px;
    }

    .form-control {
        border-radius: 10px !important;
    }

    .n_walking_site_wrap {
        margin-bottom: 20px;
        display: flex;
    }

    .n_map_taipei {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .n_booking_buttonWrap2 {
        width: fit-content;
        margin: 0 auto;
        
    }

    .n_booking_button2 {
        border: 0;
        height: 35px;
        width: 150px;
        background: var(--mainblue);
        border-radius: 18px;
        font-size: 16px;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 50px;
        margin-top: 0px;
       
    }

    #Ellipse_38 {
        fill: var(--maingray);
    }

    #Ellipse_39 {
        fill: var(--mainyellow);
    }

    #_3 {
        fill: var(--maindarkgray);
    }

.star3 {
        width: 15px;
        height: 15px;
        fill: var(--mainyellow);

    }
      .n_star3_wrap{
          display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 30px;
        margin-left: 35px;
    }
    .n_carousel_avatar11{
        width: 60px;
        height: 60px;
    }
    .n_carousel_avatar11 img{
        width: 100%;
        height: 100%;
    }
    .n_carousel_nameWrap{
        margin-left: 20px;
    }
    .n_carousel_name{
       font-size: 16px;
    }
.n_walking_location{
     margin-left: 35px;
     font-size: 14px;
}

.n_walkerScore{
    font-size: 12px;
    margin-top: -1px;
    margin-left: 10px;
  
}
.n_starWrap{
    display: flex;
}


.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flickity-enabled.is-draggable{
    margin-top: 50px;
    margin-bottom: 50px;
}
.flickity-page-dots{
    display: none;
}
.flickity-prev-next-button .flickity-button-icon,.flickity-prev-next-button.next,.flickity-prev-next-button.previous{
    display: none;
}
.carousel-cell{
    background: transparent;
}

.n_walkactivity01{
    width: 100%;
    height: 150px;
}
.n_walkactivity01 img{
    width: 100%;
}
.carousel-cell:before{
    display: none;
}

.n_walkerIntro{
 font-size: 16px;
 font-weight: 500;  
 margin-left: 42px;
 margin-bottom:40px; 
}

.n_walkerIntroText{
    width: 290px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.5px;
}

.n_walkerIntroText_server{
    margin-top: 30px;
}

.n_dog_size_title{
  
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

.hotel-dogsize-1-5kg,.hotel-dogsize-5-10kg,.hotel-dogsize-10-20kg,.hotel-dogsize-20-40kg,.hotel-dogsize-40kgup{
    width: 35px;
    height: 35px;
    stroke: var(--mainblue);
}
.n_dog_sixe_wrap{
   width: 250px;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    justify-content: space-between;
}
.n_dogsize{
    margin-top: 30px;
    margin-left: 35px;
}
.walkdog-detail-km,.walkdog-detail-Poop,.walkdog-detail-times,.walkdog-detail-car,.walkdog-detail-control,.walkdog-detail-dog{
    width: 15px;
    height: 15px;
    margin-left: 35px;
    fill: var(--mainblue);
}
.walkdog-detail-Poop,.walkdog-detail-car,.walkdog-detail-dog{
margin-left: 55px;
}
.n_walk_service_detail{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 16px;
}
.n_walk_service_detail_km{
    margin-top: 20px;
    font-size: 14px;
}
.n_walk_service_detail_wrap{
    display: flex;
}
.n_walk_service_detail2{
    margin-top: 50px;
    margin-left: 55px;
    font-size: 16px;
}

.n_customer_score{
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 16px;
}


.carousel-cell2 {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}


.flickity-button-icon {
    display: none;
}

.flickity-button {
    display: none;
}


.flickity-page-dots .dot {
    display: none !important;
}

.carousel-cell:before {
    display: none;
}

.carousel {
    background: none;
    margin-top: 30px;

}

.carousel-cell {
    background: #fff;
}

.carousel-cell_wrap {
    display: flex;
}

.star2 {
    width: 10px;
    height: 10px;
    fill: var(--mainyellow);

}

.n_carousel_avatar1 {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.n_carousel_avatar1 img {
    width: 100%;
}

.n_star2_wrap {
    height: 30px;
    margin-left: 10px;
}

.n_carousel_name {
    font-size: 10px;

    margin-top: 20px;
}

.n_carousel_comment {
    height: 100px;
    width: 200px;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 12px;
}
.n_customer_score{
    border-bottom: 3px solid var(--mainblue);
    margin-bottom: 50px;
}

.n_carousel_dog_img,.n_carousel_dog_img2{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    
  
}



.n_carousel_dog_img img,n_carousel_dog_img2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.n_carousel_comment_wrap{
    display: flex;
}
.n_carousel_dog_time{
    margin-top: 40px;
    margin-left: 63px;
}
.n_customer_score01_wrap{
    display: flex;
    margin-left: 35px;
    margin-bottom: 4px;
}
.n_customer_score_bar,.n_customer_score_bar2,.n_customer_score_bar3,.n_customer_score_bar4{
    width: 200px;
    height: 10px;
    background: var(--mainyellow);
    margin-top: 6px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.n_customer_score02{
margin-left: 4px;
}
.n_customer_score_bar2{
    width: 80px;
    
}
.n_customer_score_bar3{
    width: 40px;
    
}
.n_customer_score_bar4{
    width: 20px;
    
}
.n_customer_score_percent2{
    margin-left: 10px;
}


.n_reservation{
    width: 255px;
    height: 60px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid var(--maingray);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 90;
    right: 90px;
    bottom: 28px;
    display: none;
    transition: all 0.5s;
    text-align: center;
}
 .n_booking_buttonWrap {
        width: fit-content;
        margin-left: 12px !important;

        display: flex;
        line-height: 35px;
       
    }

    .n_booking_button {
        border: 0;
        height: 35px;
        width: 100px;
        background: var(--mainyellow);
        color: var(--maindarkgray)!important;
        border-radius: 18px;
        font-size: 16px;
        color: #fff;
        margin: 0 auto;
        text-align: center;
     
        letter-spacing: 3px;
     margin-right: 0; 
       
    }
    .n_walking_title{
      margin-top: 12px;
      
        display: flex;

    }
   
    .n_walking_tatal{
        margin-right: 35px;
   }
   .n_walking_tatalweb{
       display: none;
   }

   .n_walking_tatal span{
       font-weight: 600;
   }

   .n_visa{
       display: none;
   }
   .n_walking_title2{
       display: none;
   }
 .n_slider{
     display: none!important;
 }


}