@media only screen and (min-width: 1128px){
.container-full{
    display: flex;
    width: 80%;
    margin: 0 auto;
   
    justify-content: space-between;
    margin-top: 150px;

}
.l_main_right{
    width: 1000px;
   
    
}

.l_my_favorite_title{
     /* border: 1px solid red; */
     text-align: center;
     margin-bottom: 100px;
}
.l_select{
    display: flex;
    justify-content: flex-end;
}
.l_icon-search{
    width: 20px;
    height: 20px;
    fill: #ccc;
   
}
.l_search{
    /* border: 1px solid #ccc;
    border-radius: 5px;
    outline: #F9DD83;
    width: 200px; */
   
   
}
.l_icon-search{
    /* position: relative;
    left: -30px;
    top: 6px; */


}
.dropdown{
    width:180px ;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    color: #707070;
    border: 2px solid #ccc;
}
.input-group-append button {
    color: #707070;
    font-size: 16px;
    /* background-color: #fff; */
    border: none;
    position: relative;
    left: -40px;
}


.dropdown-item{
   color: #707070;
   font-size: 16px;
}
::placeholder
{ 
    color: #ccc;

 }
 .l_search{
     display: flex;
flex-direction: row;
     
 }
 .l_search .form-control{
     width: 90%;
 }





 .l_my_favorite_product{
     /* border: 1px solid red; */
     margin-bottom: 50px;
     /* height: 850px; */
 }
 .l_my_favorite_one{
     display: flex;
     justify-content: space-between;
     margin: 50px 0 ;
     
 }
 .l_product_img{
     width: 150px;
     height: 150px;
   
 }
 .l_product_img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .l_product_detail{
 margin-top: 20px;
     display: grid;
     grid-template-columns: 350px 250px;
 Grid-template-rows: 80px 40px;
column-gap: 55px;
font-size: 18px;
font-family: 'Poppins';


 }
 .l_button{
    /* border: 1px solid red; */
     width: 130px;
    
 }
 .l_put_cart,
 .l_delete{
     width: 130px;
     height: 35px;
     border: none;
     border-radius: 50px;
     background-color: #F9DD83;
     margin-top: 20px;
 }
 .l_put_cart:hover,
 .l_delete:hover{
     color:#fff;
     background-color: #89A7C2;
   
 }
 .l_put_cart svg,
 .l_delete svg{
     display: none;
 }
 .l_more{
   text-align: center;
     font-weight: 600;
margin: 80px auto 200px;
 }
 .l_more a{
    font-size: 22px;
    color: #89A7C2;
 }
 .l_for_you_recommend{
     height: 50px;
    text-align: center;
margin: 0px auto 80px;
font-size: 18px;
color: #707070;
border-bottom: 1px solid #89A7C2;

 }





 /* 推薦商品 */
 .l_recommend   {
    width: 850px;
    margin: 0px auto 100px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
   
}
.flickity-viewport{
    width: 730px;
    left: 80px;
}

.carousel-cell {
    width: 200px;
    height: 400px;
    margin-right: 45px;
    /* background: #8C8; */
    transform: translateX(-250px);

    


}



.l_img {
    border-radius: 30px;
    width: 200px;
    height: 200px;
    overflow: hidden;

}

.l_img img {
    width: 100%;
    height: 100%;


}

.l_carousel-cell h4 {
    font-size: 16px;
    color: #707070;
    letter-spacing: 1px;
    line-height: 25px;
    display: block;


}

.l_carousel-cell h5 {
    font-size: 18px;
    /* border: 1px solid red; */
    text-align: center;
    color: #707070;
    letter-spacing: 1px;

}



.flickity-button-icon {
    fill: #ccc;

}

.flickity-prev-next-button {
    width: 35px;
    height: 35px;
    background: none;
    border: 3px solid #ccc;
     display: block;
     background-color: white;



}


.flickity-prev-next-button.next {
    right: 53px;
    z-index: 99;
    display: block;

}

.flickity-prev-next-button.previous {
    left: 10px;
    z-index: 99;
    display: block;
    
}

.flickity-page-dots {
    display: none;
}

.l_button_box {
    background-color: #C3C3C3;
    opacity: 0.4;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    border-radius: 30px;
    display: none;
}

.l_img:hover .l_button_box {
    top: 0;
    display: block;
}

.l_img:hover button {

    transform: translateX(25px) translateY(-50px);
    transition: .5s;
    display: block;
}

.l_img button {
    display: none;
    width: 150px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 50px;
    /* transform: translatey(150px); */
    position: absolute;
    transform: translateX(-170px) translateY(200px);

    z-index: 3;

}

.l_img button:hover {
    background-color: #F9DD83;
}

.l_img:hover .l_icon_heart {
    display: block;
}


.l_nomore{
    width: 500px;
    height: 500px;
    margin: -100px auto 100px;
    /* border: 1px red solid; */
}
.l_nomore img{
    width: 100%;
    height: 100%;
}





.l_my_favorite_title_mobile,
.l_button_mobile,
.l_push_cart,
.l_user_mobile{
    display: none;
}
}