:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;
}

@media (min-width: 375px)and (max-width: 1127px) {
    body {
        background-color: #F7F4EE;
        color: var(--maindarkgray);
        font-family: 'Poppins', 'Noto Sans TC', sans-serif;

    }

    .container-full {
        display: flex;
        width: 100%;
        margin: 0 auto;
        /* border: 1px solid red; */
        justify-content: space-between;
        margin-top: 130px;

    }

    .l_main_right {
        width: 100%;
        /* border: 1px solid red; */



    }

    .l_order_management_title_mobile {
        /* border: 1px solid red; */
        text-align: center;
        margin-bottom: 50px;

    }

    .l_order_bar_mobile {
        width: 100%;
        height: 50px;
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: space-around;
    }

    .l_subscription_mobile,
    .l_walking_mobile {
        color: #CCCCCC;
    }

    .l_order_bar_mobile li {
        list-style: none;
    }

    .l_order_bar_mobile a {
        text-decoration: none;
        font-size: 14px;
        color: var(--mainblue);

    }


    .l_order_management_program,
    .l_subscription_order_program,
    .l_walking_order_program {
        width: 95%;
        border-bottom: 2px solid #CCCCCC;
        height: 40px;
        margin: 60px auto 30px;


    }

    .l_order_management_program ul {

        display: flex;
        justify-content: space-evenly;


    }

    .l_order_management_program li,
    .l_subscription_order_program li,
    .l_walking_order_program li {
        list-style: none;
    }

    .l_order_management_program a,
    .l_subscription_order_program a,
    .l_walking_order_program a {
        text-decoration: none;
        font-size: 14px;
        color: #707070;

    }

    .l_order_waiting_picked .l_return_product,
    .l_order_transport .l_return_product,
    .l_order_cancel .l_return_product,
    .l_order_return .l_return_product {
        background-color: #CCCCCC;
    }

    .l_order_finish .l_reviews {
        background-color: var(--mainblue);
    }

    .l_order_finish .l_reviews:hover {
        background-color: var(--mainyellow);
        cursor: pointer !important;
    }




    .l_line_box_mobile {
        width: 90%;

        /* border: 1px solid red; */
        margin: -5px auto;


    }

    .l_bottomline_mobile,
    .l_bottomline_1_mobile,
    .l_bottomline_2_mobile {

        width: 40px;
        height: 3px;
        background-color: #FBD14B;
        margin-bottom: 15px;
        /* transform: translateX(120px); */



    }

    .l_bottomline_1_mobile {
        width: 55px;
    }



    /* 訂單列表 */



    body {
        background-color: #F7F4EE;
    }

    .l_order_management_detail,
    .l_subscription_order_detail,
    .l_walking_service_order {
        width: 90%;
        margin: 0px auto;
    }

    .l_order_item {
        width: 100%;
        height: 60px;
        background-color: #F9DD83;
        display: flex;
        font-size: 14px;
        color: var(--maindarkgray);
        letter-spacing: 1.2px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 30px;

    }

    .l_date {
        /* border: 1px solid red; */
        width: 130px;
        height: 23px;

    }

    .l_order_item .l_date {
        /* border: 1px solid red; */
        width: 130px;
        height: 23px;
        text-align: right;

    }

    .l_status {
        text-align: right;
        width: 40px;
    }

    .l_status_return {
        /* border: 1px solid red; */
        width: 100px;

    }

    .l_order_open {
        color: var(--maindarkgray);
        font-family: Poppins;
        width: 100%;
        /* border: 1px solid red; */
        background-color: #fff;
        padding-top: 5px;

    }

    .l_order_ifn_title,
    .l_cancel_reason {

        font-size: 16px;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
    }

    .l_order_ifn_grid {
        font-size: 14px;
        /* border: 1px solid red; */
        width: 90%;
        display: grid;
        grid-template-columns: 90px 150px;
        Grid-template-rows: 40px 60px 40px 40px;
        margin: 40px auto;

    }

    .l_cancel_detail {
        font-size: 16px;
        width: 90%;
        margin: 40px auto;

    }

    .l_order_detail_line {
        width: 90%;
        height: 3px;
        background-color: #F7F4EE;
        margin: 10px auto;
    }



    .l_order_all_jq {
        height: 400px;
        overflow: hidden;

    }

    .l_order_detail {
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;
        width: 90%;
    }


    .l_order_detail_img {
        width: 100px;
        height: 100px;

    }

    .l_order_detail_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .l_order_detail_grid {
        width: 100%;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 100px 100px;
        Grid-template-rows: 23px 23px;
        margin-top: -25px;
        padding-left: 70px;


    }

    .l_size,
    .l_plan {
        padding-left: 30px;
    }

    .l_order_detail_price {
        width: 100%;
        /* border: 1px solid red; */
        margin-top: 10px;
        text-align: center;




    }

    .l_order_detail_name {
        width: 60%;
        margin-left: 10px;

    }

    .l_order_open_bottom {
        width: 80%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column-reverse;
        margin: 30px auto;
        clear: both;
        position: relative;
    }


    .l_price_grid {
        font-size: 14px;
        /* border: 1px solid red; */
        width: 300px;
        display: grid;
        grid-template-columns: 180px 1fr;
        Grid-template-rows: 30px 30px 30px 40px 50px;

    }

    .l_total_price,
    .l_total_price_return {
        font-size: 14px;
        font-weight: 600;

    }

    .l_price_line {
        width: 300px;
        border-top: 2px solid var(--maingray);
        position: relative;
        top: -60px;
        left: -18px;
    }



    .l_order_detail_total {

        /* border: 1px solid rosybrown; */
        display: flex;
        font-size: 14px;
        font-weight: 600;
        justify-content: center;

    }

    .l_order_button {
        /* border: 1px solid red; */
        width: 180px;
        display: grid;
        grid-template-columns: 1fr;
        Grid-template-rows: 50px 50px 50px;
        text-align: center;
        line-height: 35px;
        margin: 40px auto 0;

    }

    .l_buy_again,
    .l_reviews,
    .l_return_product {
        width: 170px;
        height: 35px;
        border-radius: 50px;
        background-color: var(--mainblue);

        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
        outline: none;
        border: none;


    }

    .l_reviews {
        background-color: var(--maingray);
        cursor: context-menu !important;
    }



    .l_total {
        margin-right: 10px;
    }

    .l_order_close_arrow,
    .l_order_open_arrow {
        fill: var(--maindarkgray);
        width: 90px;
        height: 70px;
        /* border: 1px solid rosybrown; */
        margin: 0 auto;



    }

    .l_order_close_arrow {
        transform: rotate(0.5turn);
    }

    .l_order_close_arrow svg,
    .l_order_open_arrow svg {
        width: 100%;
        height: 100%;

    }

    .l_one_order {
        margin-bottom: 100px;
    }

    .l_dog_img,
    .l_cat_img {

        width: 130px;
        height: 150px;


    }

    .l_cat_img {
        position: absolute;
        left: 130px;
        top: 340px;

    }

    .l_dog_img img,
    .l_cat_img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .l_dog_img {
        transform: scaleX(-1);
    }


    /* 週期訂單 */
    .l_subscription_order_program ul {
        display: flex;
        justify-content: space-evenly;

    }

    .l_subscription_order_program li {}

    .l_line_box_1_mobile {
        width: 75%;
        height: 10px;
        /* border: 1px solid red; */
        margin: -5px auto 10px;


    }

    .l_Subscription_ifn_grid {
        font-size: 14px;

        width: 80%;

        margin: 40px auto;

    }

    .l_Subscription_send {

        border-bottom: 3px solid #F7F4EE;
        display: grid;
        grid-template-columns: 100px 200px;
        Grid-template-rows: 40px 40px 40px;
        height: 170px;
    }

    .l_Subscription_pay {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 100px 180px;
        Grid-template-rows: 40px 40px 40px;
    }


    /* 代遛訂單 */

    .l_walking_order_program ul {
        display: flex;
        justify-content: space-evenly;
    }

    .l_bottomline_2_mobile {
        width: 55px;
    }

    .l_walking_all_jq {
        height: 150px;
        overflow: hidden;

    }

    .l_walking_detail {

        /* border: 1px solid red; */
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin: 10px auto;

    }

    .l_Walking_detail_grid {

        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 90px 100px;
        Grid-template-rows: 20px 20px 20px 20px 20px;
        margin-top: 10px;
        position: relative;
        top: -83px;
        left: 110px;
    }

    .l_Walking_detail_grid .l_plan {
        padding: 0 0;
    }

    .l_walking_service_order .l_price_line {
        top: -60px;
    }

    .l_walking_service_order .l_price_grid {
        font-size: 14px;
        /* border: 1px solid red; */
        width: 300px;
        display: grid;
        grid-template-columns: 200px 1fr;
        Grid-template-rows: 40px 50px 50px;
    }

    .l_walking_end_order .l_reviews {
        background-color: var(--mainblue);
    }

    .l_walking_end_order .l_reviews:hover {
        background-color: var(--mainyellow);
        cursor: pointer !important;
    }

    .l_walking_service_order .l_order_open_bottom {
        margin: 50px auto 0;
    }

    .l_walking_service_order .l_cat_img,
    .l_walking_service_order .l_dog_img {
        margin: 20px;
    }


    .l_member_detail,
    .l_order_management_title,
    .l_line_box,
    .l_subscription_order_title,
    .l_walking_order_title,
    .l_line_box_1,
    .l_line_box_2 {
        display: none;
    }




}