:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;

}

@media only screen and (min-width: 1128px) {


    .n_WalkTheDogIMG1 {
        background: url(/images/walkingservice/choice/WalkingServiceChoice_18.jpeg) center;
        background-size: cover;
        width: 900px;
        height: 350px;
        margin: 0 auto;
        margin-top: 150px;
        border-radius: 10px;


    }



    .n_WalkTheDogTitle1 {
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
        font-weight: 300;
        color: var(--mainblue);

    }

    .n_WalkTheDogSubTitle1 {
        text-align: center;
        margin-right: -50px;
        font-size: 26px;
        color: var(--mainblue);
        letter-spacing: 0.8px;

    }

    .n_WalkTheDogSubTitle2 {
        text-align: center;
        margin-right: -10px;
        font-size: 12px;
        color: var(--mainblue);
        letter-spacing: 0.8px;

    }


    .n_WalkTheDogTitle1_line {
        width: 50px;
        height: 1px;
        margin-top: 65px;
        background: var(--mainblue);
        margin-right: 10px;
    }

    .n_WalkTheDogTitle1WRAP {
        display: flex;
        justify-content: center;
    }


    .n_WalkTheDogTitle1_line2 {
        width: 50px;
        height: 1px;
        margin-top: 95px;
        margin-left: 25px;
        background: var(--mainblue);

    }

    .n_WalkTheDogContent1 {
        width: 880px;
        margin: 0 auto;
        letter-spacing: 1.2px;
        line-height: 1.5;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 300;

    }

    .n_WalkTheDogContent2 {
        width: 880px;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 16px;
        line-height: 1;
        line-height: 1.5;
        letter-spacing: 1.2px;
        font-weight: 300;
    }

    .n_WalkTheDogNumBox1 {
        width: 400px;
        height: 180px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        margin-top: 80px;
        margin-right: 75px;
    }

    .n_WalkTheDogNumBox2 {
        width: 400px;
        height: 180px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        margin-top: 80px;


    }


    .n_WalkTheDogNumBox1Wrap {
        display: flex;
        width: fit-content;
        justify-content: center;
        margin: 0 auto;
    }

    .n_WalkTheDogNumText1 {
        font-size: 45px;
        letter-spacing: 0.8px;
        color: var(--mainblue);
        margin-top: 15px;
        letter-spacing: 4px;
    }

    .n_WalkTheDogNumText {
        margin-left: 50px;
        margin-top: 20px;
    }

    .n_WalkTheDogNumText2 {

        font-size: 16px;
        color: var(--mainblue);
        letter-spacing: 6px;

    }

    .n_WalkTheDogNumText3 {

        font-size: 16px;
        color: var(--mainblue);
        letter-spacing: 6px;
        margin-left: 15px;

    }

    .n_WalkTheDogNumText4 {
        margin-left: 15px;
        font-size: 45px;
        margin-top: 35px;
        letter-spacing: 4px;
        letter-spacing: 0.8px;
        color: var(--mainblue);
    }

    .n_WalkTheDogNumText4 span {
        font-size: 14px;
        letter-spacing: 3px;
    }

    .n_WalkTheDogNumText1 span {
        font-size: 14px;
        letter-spacing: 3px;
    }



    .n_WalkTheDogNumIcon {
        height: 70px;
    }

    .walkdog-people {
        width: 40px;
        fill: var(--mainyellow);
        margin-top: 15px;
        margin-left: 50px;
    }

    .walkdog-dog {
        width: 80px;
        fill: var(--mainyellow);
        margin-top: 15px;
        margin-left: 50px;
    }


    .n_WalkTheDogNumSet {
        margin-right: 15px;
    }

    .n_WalkTheDogIntroTitle {
        font-size: 18px;
        color: var(--mainblue);
        line-height: 22px;
        letter-spacing: 3px;
        width: fit-content;

    }


    .n_WalkTheDogIntroText {
        font-size: 16px;
        width: fit-content;
        color: var(--maindarkgray);
        width: 280px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 1.2px;
        margin-top: 10px;

    }

    .n_WalkTheDogIntroWrap {
        margin-top: 50px;
        margin-left: 70px;
    }

    .n_WalkTheDogIntroWrap2 {
        margin-top: 50px;
        margin-right: 70px;
    }

    .n_WalkTheDogChargingTitle {
        font-size: 14px;
        margin: 0 auto;
        width: fit-content;
        color: var(--mainblue);
    }

    .n_WalkTheDogChargingIMG {
        width: 270px;
        margin: 0 auto;

    }

    .n_WalkTheDogChargingIMG img {
        width: 100%;

    }




    .n_WalkTheDogChargingIMG2 {
        width: 270px;
        margin: 0 auto;

    }

    .n_WalkTheDogChargingIMG2 img {
        width: 100%;

    }

    .n_WalkTheDogChargingText {
        padding-top: 50px;
        width: 750px;
        color: var(--maindarkgray);
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 1.2px;
        margin: 0 auto;
    }


    .carousel {
        background: #EEE;
    }

    .carousel-cell {
        width: 15%;
        height: 200px;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }

    /* cell number */
    .carousel-cell:before {
        display: block;
        text-align: center;
        content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
    }


    .flickity-button-icon {
        fill: var(--maindarkgray) !important;
    }



    .flickity-page-dots .dot {
        display: none !important;
    }

    .carousel-cell:before {
        display: none;
    }

    .carousel {

        margin-top: 50px;

    }

    .carousel-cell {
        background: #fff;
    }

    .carousel-cell_wrap {
        display: flex;
    }

    .star2 {
        width: 10px;
        height: 10px;
        fill: var(--mainyellow);

    }

    .n_carousel_avatar1 {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .n_carousel_avatar1 img {
        width: 100%;
    }

    .n_star2_wrap {
        height: 30px;
        margin-left: 10px;
    }

    .n_carousel_name {
        font-size: 10px;

        margin-top: 20px;
    }

    .n_carousel_comment {
        height: 100px;
        width: 200px;
        margin-right: 20px;
        margin-top: 50px;
        margin-left: 25px;
        font-size: 12px;
    }

    .n_reservationbox {
        width: 160px;
        height: 210px;
        background: #fff;
        border-radius: 10px;
        margin-top: 50px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .n_reservationbox2 {
        width: 160px;
        height: 210px;
        background: #fff;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .walkdog-Reservation-1 {
        width: 60px;
        margin-left: 50px;
    }

    .walkdog-Reservation-2 {
        width: 70px;
        margin-left: 50px;
    }

    .walkdog-Reservation-3 {
        width: 80px;
        margin-left: 40px;
    }

    .walkdog-Reservation-4 {
        width: 70px;
        margin-left: 50px;
    }

    .walkdog-Reservation-5 {
        width: 70px;
        margin-left: 40px;
    }

    .walkdog-Reservation-6 {
        width: 80px;
        margin-left: 40px;
    }

    .n_reservationText {
        height: 30px;
        margin: 0 auto;
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .n_reservationText2 {
        height: 30px;
        margin: 0 auto;
        margin-left: 30px;
        font-size: 14px;
        letter-spacing: 3px;
    }


    .n_booking_buttonWrap {
        width: fit-content;
        margin: 0 auto;
    }

    .n_booking_button {
        border: 0;
        height: 35px;
        width: 150px;
        background: var(--mainblue);
        border-radius: 18px;
        font-size: 16px;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 3px;
        line-height: 35px;
        margin-bottom: 70px;
        margin-top: 50px;
    }

    .n_WalkTheDogIntroBoxWrapAll {
        display: flex;
        width: 880px;
        justify-content: space-between;
        margin: 0 auto;
    }

    .n_WalkTheDogChargingBoxWrap {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 50px;
        width: 700px;
    }

    .carousel {
        background: none;
    }





    .n_reservationboxWrap {
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }

    .flickity-slider {
        left: -420px !important
    }

    /* .flickity-prev-next-button.previous{
    left: 300px;
} */

    .flickity-prev-next-button.previous {
        left: 300px !important;
    }

    .flickity-prev-next-button.next {
        right: 250px !important;
    }

    .shop-list {
        background: #fff;
    }

    .flickity-prev-next-button .flickity-button-icon {
        left: 30% !important;
        top: 30% !important;
        width: 40% !important;
        height: 40% !important;
    }

    .n_WalkTheDogTitlemobile1 {
        display: none;
    }

    .n_WalkTheDogTitleweb1 {
        margin-top: 100px;
    }

    .n_WalkTheDogTitleweb11 {
        margin-top: 50px;
    }

    .n_WalkTheDogTitleweb {
        margin-top: 80px;
    }
}