:root {
    --mainblue: #89A7C2;
    --mainpink: #FF9A9A;
    --mainyellow: #F9DD83;
    --maingray: #CCCCCC;
    --maindarkgray: #707070;

}

@media only screen and (min-width: 1128px) {

    /* map */
    #app {
        margin-top: -1300px;
        height: 2400px;
    }

    .map {
        transform: scale(0.27);
    }



   




    .n_list {
        width: 800px;
        margin: 0 auto;
        margin-top: 70px;

    }

    #Path_12659 {
        stroke: #CCCCCC;
    }

    #Ellipse_59 {
        fill: var(--maingray);

    }

    #Ellipse_60 {
        fill: var(--mainyellow);
    }

    #_2 {
        font-weight: 400;
        fill: var(--maindarkgray);
    }

    .n_select {
        color: var(--mainblue);
        font-size: 22px;
        letter-spacing: 6px;
        margin-left: 400px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .n_list1 {
        display: none;
    }





    .n_walkingWriteWrap {
        display: flex;
        margin-top: 50px;
    }

    .badge-light {
        border: 1px solid var(--maingray);
        background-color: transparent;
        font-size: 12px;
    }

    .badge {
        margin-right: 10px;
        color: var(--maindarkgray);
        font-weight: normal;
    }

    .n_walkingWriteWrap2 {
        display: flex;
        margin-top: 10px;
        margin-left: 115px;
    }

    .n_walkingReWrite {
        width: fit-content;
        color: var(--mainblue);
        font-size: 12px;
        margin-left: 20px;
        border-bottom: 1px solid var(--mainblue);
    }



    .n_walking_select_box_wrap {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .n_walking_select_box_wrap1 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .n_walking_select_box2 {
        width: 140px;
        height: 220px;
        background: #fff;
        border-radius: 10px;
        margin-left: 10px;
    }

    .n_walking_select_box_img1 {
        background-image: url(/images/walkingservice/content/WalkingServiceCommentDogImg01.jpg);
        width: 180px;
        height: 150px;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    .n_walking_select_box_title {
        font-size: 16px;
        color: var(--mainblue);
        text-align: center;
        margin-top: 20px;
    }

    .n_walking_select_box_subtitle {
        font-size: 12px;
        color: var(--mainblue);
        text-align: center;
    }

    .star3 {
        width: 10px;
        height: 10px;
        fill: var(--mainyellow);
    }

    .n_walking_select_box_star {
        margin: 0 auto;
        width: fit-content;
    }

    .pagination {
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .page-link {
        background-color: transparent;
        border: none;
        color: var(--mainblue);
        font-size: 14px;
    }

    .page-link:hover {
        background-color: transparent;
        border-color: transparent;
        color: var(--mainyellow);
    }

    .page-link:focus {
        box-shadow: none;
    }

    a.badge-light:focus,
    a.badge-light:hover {
        background-color: transparent;
    }

    #Ellipse_60 {
        fill: var(--maingray);
    }

    #_2 {
        fill: #fff;
    }

    #Ellipse_61 {
        fill: var(--mainyellow);
    }

    #_3 {
        fill: var(--maindarkgray);
    }


     .n_star3_wrap{
          display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 30px;
        margin-left: 480px;
    }
    .n_carousel_avatar11{
        width: 60px;
        height: 60px;
    }
    .n_carousel_avatar11 img{
        width: 100%;
        height: 100%;
    }
    .n_carousel_nameWrap{
        margin-left: 20px;
    }
    .n_carousel_name{
       font-size: 16px;
    }
.n_walking_location{
     margin-left: 480px;
     font-size: 14px;
     fill: var(--mainpink)!important;
}

.n_walkerScore{
    font-size: 12px;
    margin-top: -1px;
    margin-left: 10px;
  
}
.n_starWrap{
    display: flex;
}


.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flickity-enabled.is-draggable{
    margin-top: 50px;
    margin-bottom: 50px;
}
.flickity-page-dots{
    display: block;
}

.carousel-cell{
    background: transparent;
}

.n_walkactivity01{
    width: 100%;
    height: 150px;
}
.n_walkactivity01 img{
    width: 100%;
}
.carousel-cell:before{
    display: none;
}

.n_walkerIntro{
 font-size: 22px;
 font-weight: 500;  
 margin-left: 55px;
 margin-top: 40px;
 margin-bottom:30px; 
}

.n_walkerIntroText{
    width: 350px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.5px;
}

.n_walkerIntroText_server{
    margin-top: 30px;
}

.n_dog_size_title{
  
    width: fit-content;
    margin-top: 50px;
    margin-left: 480px;
}

.hotel-dogsize-1-5kg,.hotel-dogsize-5-10kg,.hotel-dogsize-10-20kg,.hotel-dogsize-20-40kg,.hotel-dogsize-40kgup{
    width: 35px;
    height: 35px;
    stroke: var(--mainblue);
}
.n_dog_sixe_wrap{
   width: 250px;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    justify-content: space-between;
}
.n_dogsize{
    margin-top: 30px;
    margin-left: 480px;
}
.walkdog-detail-km,.walkdog-detail-Poop,.walkdog-detail-times,.walkdog-detail-car,.walkdog-detail-control,.walkdog-detail-dog{
    width: 15px;
    height: 15px;
    margin-left: 35px;
    fill: var(--mainblue);
}
.walkdog-detail-Poop,.walkdog-detail-car,.walkdog-detail-dog{
margin-left: 55px;
}
.n_walk_service_detail{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 16px;
}
.n_walk_service_detail_km{
    margin-top: 20px;
    font-size: 14px;
}
.n_walk_service_detail_wrap{
    display: flex;
    margin-left: 445px;
}
.n_walk_service_detail2{
    margin-top: 50px;
    margin-left: 55px;
    font-size: 16px;
}

.n_customer_score{
    width: fit-content;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 22px;
}


.carousel-cell2 {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}




.flickity-page-dots .dot {
    display: none !important;
}

.carousel-cell:before {
    display: none;
}

.carousel {
    background: none;
    margin-top: 30px;

}

.carousel-cell {
    background: #fff;
}

.carousel-cell_wrap {
    display: flex;
}

.star2 {
    width: 10px;
    height: 10px;
    fill: var(--mainyellow);

}

.n_carousel_avatar1 {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.n_carousel_avatar1 img {
    width: 100%;
}

.n_star2_wrap {
    height: 30px;
    margin-left: 10px;
}

.n_carousel_name {
    font-size: 10px;

    margin-top: 20px;
}

.n_carousel_comment {
    height: 100px;
    width: 200px;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 12px;
}
.n_customer_score{
    border-bottom: 5px solid var(--mainblue);
    margin-bottom: 100px;
}

.n_carousel_dog_img,.n_carousel_dog_img2{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    
  
}



.n_carousel_dog_img img,n_carousel_dog_img2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.n_carousel_comment_wrap{
    display: flex;
}
.n_carousel_dog_time{
    margin-top: 40px;
    margin-left: 63px;
}
.n_customer_score01_wrap{
    display: flex;
    margin-left: 480px;
    margin-bottom: 4px;
}
.n_customer_score_bar,.n_customer_score_bar2,.n_customer_score_bar3,.n_customer_score_bar4{
    width: 600px;
    height: 10px;
    background: var(--mainyellow);
    margin-top: 6px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.n_customer_score02{
margin-left: 4px;
}
.n_customer_score_bar2{
    width: 200px;
    
}
.n_customer_score_bar3{
    width: 100px;
    
}
.n_customer_score_bar4{
    width: 20px;
    
}
.n_customer_score_percent2{
    margin-left: 10px;
}


.n_reservation{
    width: 255px;
    height: 60px;
    background: #fff;
    border-radius: 15px;
    border: 1px solid var(--maingray);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 90;
    right: 90px;
    bottom: 28px;
    display: none;
    transition: all 0.5s;
    text-align: center;
}
 .n_booking_buttonWrap {
        width: fit-content;
        margin-left: 12px !important;

        display: flex;
        line-height: 35px;
       
    }

    .n_booking_button {
        border: 0;
        height: 35px;
        width: 100px;
        background: var(--mainyellow);
        color: var(--maindarkgray)!important;
        border-radius: 18px;
        font-size: 16px;
        color: #fff;
        margin: 0 auto;
        text-align: center;
     
        letter-spacing: 3px;
     margin-right: 0; 
       
    }
    .n_walking_title2{
      margin-top: 12px;

        display: flex;

    }
   
    .n_walking_tatal{
        margin-left:42px;
        font-size: 22px;
   }

.carousel{
    display: none;
}
.n_walker_web_img,.n_walker_web_img2,.n_walker_web_img3,.n_walker_web_img4{
    width: 240px;
    height: 180px;
    margin: 10px;
    border-radius: 10px;
   
    background-image: url(/images/walkingservice/choice/WalkingServiceChoice_10.jpeg);
    background-size: cover;
}

.n_walker_web_img2{
    background-image: url(/images/walkingservice/content/WalkingServiceContentActivity01_01.jpg);
    background-size: cover;
}

.n_walker_web_img3{
    background-image: url(/images/walkingservice/choice/WalkingServiceChoice_15.jpeg);
    background-size: cover;
}

.n_walker_web_img4{
    background-image: url(/images/walkingservice/content/WalkingServiceContentActivity02_02.jpg);
    background-size: cover;
}


.n_walker_web_img_wrap{
    display: flex;
}
.n_walker_web_img_wrapAll{
    margin-top: 50px;
    margin-left: 470px;
}
.n_walkerIntroWrap{
    width: 460px;
    height: 540px;
    border-radius: 10px;
     border: 1px solid var(--maingray);
    background: #fff;
    
    margin-top: -100px;
    margin-left: 30px;
}
.n_walkerIntro_out{
    display: flex;
   
}

 .n_booking_button {
        border: 0;
        height: 35px;
        width: 180px;
        background: var(--mainyellow);
        color: var(--maindarkgray)!important;
        border-radius: 18px;
        font-size: 16px;
        color: #fff;
        margin: 0 auto;
        text-align: center;
     margin-left: 45px;
        letter-spacing: 3px;
        margin-top: 5px;
        margin-right: 0; 
       
    }
    .n_walking_title{
      margin-top: 12px;
    display: flex;
    
    }
   
    .n_walking_tatal{
       margin-top: 6px;
   }
   .n_walking_tatalweb{
    justify-content: center;
    z-index: 90;
    display: none ;
    /* transition: all 0.5s; */
    text-align: center;
        width: 460px;
        height: 150px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid var(--maingray);
        
        bottom: 20px;
   
        margin-left: 213px;
        left: 808px;
        top: 80vh;
        
     
       
        
   }

   .n_walking_tatalweb.move{
        position: fixed;
   }

.n_walking_tatalweb.aaa{
   
   margin-top: 400px;
}



   .line-pay{
       width: 100px;
        height: 50px;
   }
   .visa-logo{
       width: 50px;
        height: 50px;
       fill: var(--mainblue);
   }
   .n_atm{
       width: 50px;
        height: 50px;
   }
   .mastercard{
       width: 50px;
       height:50px;
      
   }
   .n_visaWrap{
       display: flex;
       justify-content:space-evenly;
       margin-top: 20px;
   }

   .n_walking_tatal span{
       margin-left: 20px;
   }
   .n_reservation{
       display: none!important;
   }
   .n_booking_buttonWrap{
       display: none;
   }
   .n_customer_score01_star{
       margin-left: 20px;
   }
   .n_star2_wrap{
       margin-left: 100px;
   }
   
 


  .flickity-prev-next-button{
    transform: translateY(-420%)!important;
  }
  .flickity-enabled.is-draggable{
      width: 1250px!important;
      margin: 0 auto!important;
      margin-top: 50px!important;

    
  }
  
/* 電腦評論輪播 */
  .n_slider{
      margin-top: 50px;
      margin-bottom: 200px;
  }
  .slick-prev{
    left: -120px!important;
  }
  .slick-prev:before, .slick-next:before{
      color: var(--maingray)!important;
  }
 .n_slide-1{
     width: 300px;
     height: 200px;
 }
 
 .n_dog_serviceAndPrice{
     display: flex;
     
 }

 /* 手機評價倫波 */
.aa_productdetail_box2_evaluation_box_mobile{
height: 500px;
 
  }
  
  .aa_carousel2 {
    background: rgba(238, 238, 238, 0);
  }
  
  .aa_carousel-cell2 {
    width: 383px;
    height: 280px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
    counter-increment: carousel-cell;
    
  }
  
  /* cell number */
  /* .aa_carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */
  
  /* ???????????????????????????????????????????????????? */
  .flickity-button{
   position: relative!important;
  }
  
  .flickity-page-dots{
  
  }

  .flickity-prev-next-button.next{
   float: right;

   right: -150px !important;
   /* margin-left:1200px ; */
    /* right: -100px !important; */
    
   

  }

  .flickity-prev-next-button.previous{
 
  
    

  }
 
  
  .flickity-slider{
    width: 1900px !important;
    left: -350px!important;
  }
  .flickity-viewport{
      width: 1200px;
    
     left: 160px;


     
  }


  

  .flickity-enabled.is-draggable{
      right: 100px;
      width: 1370px !important;
  }
  
  .carousel-cell_wrap {
    display: flex;
  }
  
  .star2 {
    width: 12px;
    height: 12px;
    fill: var(--mainyellow);
  
  }
  
  .n_carousel_avatar1 {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .n_carousel_avatar1 img {
    width: 100%;
  }
  
  .n_star2_wrap {
    height: 30px;
    margin-left: 20px;
  }
  
  .n_carousel_name {
    font-size: 14px;
  
    margin-top: 30px;
    
  }
  
  .n_carousel_comment {
    height: 44px;
    width: 305px;
  margin: 0 auto;
  margin-top: 35px;
    font-size: 14px;
    margin-bottom: 25px;
    letter-spacing: 2px;

  }
  
  .n_carousel_comment_pc{
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 35px;
    float: left;

    
  }
  .n_carousel_comment_pc img{
    width: 100%;
  }
  .n_carousel_comment_day{
    float: right;
    margin-top: 60px;
    margin-right:40px ;
    font-size: 12px;
  }
}